body {
	background-color: lightgrey;
}

.wrapper {
	height: 100vw;
	height: 100%;
	overflow: auto;
	margin: 10px;
}

#bitcoin {
	display: none;
	width: 100px;
;
}

.container {
	width: 90vw;
	height: 100%;
	text-align: center;
	font-size: 40px;
}

p {
	margin-top: 19%; 
	margin-bottom: 20px;
}

h1 {
	margin-bottom: 20px;
	font-size: 100px;
}

#input-answer {
	margin-bottom: 20px;
	text-align: center;
}

#reset {
	float: left;
}

.form-control {
	width: 50%;
}
.checkbox-inline {
	margin-left: 30%;
	margin-right: 10px;
	margin-bottom: 40px;
	font-size: 10px;
	padding: 0px;
	display: inline-block;
}
.checkbox-inline input {
	margin: 0px;
	padding: 0px;
}